button,div,form,input {
    margin: 10px;
    font-family: inherit; 
    color: black;
    
}

body {
	background: #9A293B
}

.container {
	position: relative;
}

header.jumbotron {
    text-align: center;
    background:white;
    color: #9A293B;
}
#add-show{
    background-color: white;
}